<%form_for @discipline do |f|%>
  <%= jerror_message(@discipline) %>
  <div class="field">
    <%= f.label "Название" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit @submit_label%>
  </div>
<% end %>

