<%= content_for :tabs do %>
<li><a href="#" id="helpbutton" class="menu1 ui-state-default ui-corner-top">Помощь</a></li>
<% end %>

<%= content_for :head do %>
<style type="text/css">
  .myicon{display: inline-block; padding: .2em;}
  .icondiv{display: inline-block; text-indent: 0px; }
</style>
<% end %>


<div id="help" title="Помощь">
  <h2>Список разделов</h2>

  <div style="text-indent: 1em;">
    Список разделов упорядочен по алфавиту. Доступные действия:
    <ul>   
      <li><div>Необходимый раздел можно открыть кликом мыши по названию раздела
        или по кнопке <span class="ui-state-default ui-corner-all myicon" ><span class="ui-icon ui-icon-search" /></span></div> Подробнее в пункте <b>Просмотр раздела</b></li>
      <li>Пройти тестирование по всем вопросам данного раздела нажав на кнопку
          <div class="icondiv"><span class="ui-state-default ui-corner-all myicon"><span class="ui-icon ui-icon-play" /></span></div> напротив названия раздела
      </li>
      <li>
        Удалить ненужный раздел можно нажав на кнопку
        <div class="icondiv"><span class="ui-state-default ui-corner-all myicon"><span class="ui-icon ui-icon-trash"/></span></div> напротив названия раздела
      </li>
      <li>
        Изменить название раздела можно нажав на кнопку
        <div class="icondiv"><span class="ui-state-default ui-corner-all myicon" ><span class="ui-icon ui-icon-pencil"/></span></div> напротив названия раздела.
        Дальнейшие инструкции в пункте <b>Редактирование названия раздела</b>
      </li>
      <li>Создать раздел можно нажав на кнопку "Новый раздел". Дальнейшие интсрукции см. в пункте <b>Новый раздел</b></li>

    </ul>
  </div>
  <h2>Новый раздел</h2>
  <div style="text-indent: 1em;" id="new_disc">   
    Для создания нового раздела необходимо ввести название раздела и нажать кнопку
    "Создать". Название должно содержать не менее 3 символов.
  </div>
  <h2>Просмотр раздела.</h2>
  <div style="text-indent: 1em;">
     Здесь можно просмотреть <b>темы выбранного раздела</b>. Темы упорядочены по алфавиту.
     Доступные действия:
     <ul>
       <li>Можно изменить название раздела нажав на кнопку "Редактировать".
       Дальнейшие инструкции в пункте <b>Редактирование названия раздела</b></li>
     </ul>
  </div>
</div>
