<%= content_for :tabs do %>
<li><a href="#" id="helpbutton" class="menu1 ui-state-default ui-corner-top">Помощь</a></li>
<% end %>

<%= content_for :head do %>
<style type="text/css">
  .myicon{display: inline-block; padding: .2em;}
  .icondiv{display: inline-block; text-indent: 0px; }
  .attention{color: orangered;}
</style>
<% end %>




<div id="help" title="Помощь: разделы, темы, вопросы">
  <div style="text-align: justify">
  <h2>Список разделов</h2>

  <div style="text-indent: 1em;">
    Список разделов упорядочен по алфавиту. Доступные действия:
    <ul>   
      <li><div>Необходимый раздел можно открыть для просмотра его тем кликом мыши по названию раздела
        или по кнопке <span class="ui-state-default ui-corner-all myicon" ><span class="ui-icon ui-icon-search" /></span></div> Подробнее см. в пункте <b>Просмотр раздела</b>.</li>
      <li>Пройти тестирование по всем вопросам данного раздела можно, нажав на кнопку
          <div class="icondiv"><span class="ui-state-default ui-corner-all myicon"><span class="ui-icon ui-icon-play" /></span></div> напротив названия раздела.
      </li>
      <li>
        Удалить ненужный раздел можно, нажав на кнопку
        <div class="icondiv"><span class="ui-state-default ui-corner-all myicon"><span class="ui-icon ui-icon-trash"/></span></div> напротив названия раздела.
        <b class="attention">Внимание! Удаление раздела приведет к удалению всех связанных с ним тем и вопросов</b>.
      </li>
      <li>
        Изменить название раздела можно, нажав на кнопку
        <div class="icondiv"><span class="ui-state-default ui-corner-all myicon" ><span class="ui-icon ui-icon-pencil"/></span></div> напротив названия раздела.
        Дальнейшие инструкции в пункте <b>Редактирование названия раздела</b>.
      </li>
      <li>Создать раздел можно, нажав на кнопку "Новый раздел". Дальнейшие инструкции в пункте <b>Новый раздел</b>.</li>

    </ul>
  </div>
  <h2>Новый раздел</h2>
  <div style="text-indent: 1em;" id="new_disc">   
    Создать раздел можно, нажав на кнопку "Новый раздел" в <b>Списке разделов</b>.
    Для создания нового раздела необходимо в открывшейся форме ввести название раздела и нажать кнопку
    "Создать". Название должно содержать не менее 3 символов.
  </div>
  <h2>Просмотр раздела</h2>
  <div style="text-indent: 1em;">
     Здесь можно просмотреть <b>темы выбранного раздела</b>. Темы упорядочены по алфавиту.
     Доступные действия:
     <ul>
       <li>Название текущего раздела можно изменить, нажав на кнопку "Редактировать".
       Дальнейшие инструкции в пункте <b>Редактирование названия раздела</b>.</li>
       <li>
         Можно открыть тему для просмотра списка ее вопросов кликом по названию темы или нажав на кнопку
         <div class="icondiv"><span class="ui-state-default ui-corner-all myicon"><span class="ui-icon ui-icon-search" /></span></div>
         напротив названия темы. Подробнее в пункте <b>Просмотр темы</b>.
       </li>
       <li>
        По всем вопросам темы можно пройти тестирование, нажав на кнопкку
        <div class="icondiv"><span class="ui-state-default ui-corner-all myicon"><span class="ui-icon ui-icon-play" /></span></div>
        напротив назыания темы.
       </li>
       <li>
         Изменить название темы можно, нажав на кнопку
         <div class="icondiv"><span class="ui-state-default ui-corner-all myicon" ><span class="ui-icon ui-icon-pencil"/></span></div> напротив названия темы.
         Дальнейшие инструкции в пункте <b>Редактирование названия темы</b>.
       </li>
       <li>Создать тему в текущем разделе можно, нажав на кнопку "Новая тема". Дальнейшие инструкции в пункте <b>Новая тема</b>.</li>
      <li>
        Удалить ненужную тему можно, нажав на кнопку
        <div class="icondiv"><span class="ui-state-default ui-corner-all myicon"><span class="ui-icon ui-icon-trash"/></span></div> напротив названия темы.
        <b class="attention">Внимание! Удаление темы приведет к удалению всех связанных с ней вопросов.</b>
      </li>
     </ul>

  </div>

  <h2>Редактирование названия раздела</h2>
  <div style="text-indent: 1em;">
    Вызвать форму для изменения названия раздела можно:
    <ul>
      <li>Из <b>списка разделов.</b></li>
      <li>Из <b>просмотра раздела.</b></li>
    </ul>
  </div>
  <div style="text-indent: 1em;">
    Для изменения названия раздела необходимо ввести в поле формы название раздела и нажать кнопку
    "Изменить". Название должно содержать не менее 3 символов.
  </div>

  <h2>Новая тема</h2>
  <div style="text-indent: 1em;" id="new_disc">
    Вызвать форму для создания темы в текущем разделе можно, нажав на кнопку "Новый раздел" в текущем разделе (<b>просмотр раздела</b>).
    Для создания новой темы необходимо в открывшейся форме ввести название темы и нажать кнопку
    "Создать". Название должно содержать не менее 3 символов.
  </div>

  <h2>Просмотр темы</h2>
  <div style="text-indent: 1em;">
     Здесь можно просмотреть <b>вопросы выбранной темы</b>. Вопросы упорядочены по алфавиту.
     Доступные действия:
     <ul>
       <li>Название текущей темы можно изменить, нажав на кнопку "Редактировать".
       Дальнейшие инструкции в пункте <b>Редактирование названия темы</b>.</li>
       <li>
         Открыть вопорс для просмотра и редактирования можно кликом по формулировке вопроса или нажав на кнопку
         <div class="icondiv"><span class="ui-state-default ui-corner-all myicon"><span class="ui-icon ui-icon-search" /></span></div>
         напротив формулировки вопроса. Подробнее в пункте <b>Редактирование вопроса</b>.
       </li>

       <li>Создать вопрос в текущей теме можно, нажав на кнопку "Новый вопрос". Дальнейшие инструкции в пункте <b>Новый вопрос</b>.</li>
      <li>
        Удалить ненужный вопрос можно, нажав на кнопку
        <div class="icondiv"><span class="ui-state-default ui-corner-all myicon"><span class="ui-icon ui-icon-trash"/></span></div> напротив названия вопроса.
      </li>
     </ul>

  </div>

  <h2>Редактирование названия темы</h2>
  <div style="text-indent: 1em;">
    Вызвать форму для изменения названия темы можно:
    <ul>
      <li>Из <b>просмотра темы.</b></li>
      <li>Из <b>просмотра раздела.</b></li>
    </ul>
  </div>
  <div style="text-indent: 1em;">
    Для изменения названия темы необходимо ввести в поле формы название темы и нажать кнопку
    "Изменить". Название должно содержать не менее 3 символов.
  </div>

  <h2>Новый вопрос</h2>
  <div style="text-indent: 1em;">
    Вызвать форму для создания нового вопоса можно при <b>просмотре темы</b>.
    В форме необходимо выбрать тип вопроса и ввести формулировку вопроса. Затем нажать кнопку "Создать".
    Варианты ответа можно добавить и изменить при <b>редактировании вопроса</b>.
  </div>

  <h2>Редактирование вопроса</h2>
  <div style="text-indent: 1em;">
    Перейти к редактированию вопроса можно из <b>Просмотра темы</b>.
  </div>
  <div style="text-indent: 1em;">
    Для изменения формулировки вопроса необходимо ввести в поле формы формулировку вопроса и нажать кнопку
    "Изменить".
  </div>
  <div style="text-indent: 1em;">
    Также с помощью кнопок на панели инструментов можно:
    <ul>
      <li>Добавить или изменить варианты <b>ответов</b>.</li>
      <li>Прикрепить к вопросу <b>изображение</b>.</li>
    </ul>
  </div>
  <h2>Ответы</h2>
  <div style="text-indent: 1em;">
    В зависимости от типа вопроса форма добавления и изменения ответа выглядит по разному:
    <ul>
      <li>Для <i>вопроса с одним правильным вариантом ответа</i> она состоит из текстовых полей,
        в которые необходимо ввести варианты ответов, и радиокнопок <input type="radio"/>.
        Отметьте радиокнопку <input type="radio" checked/>, слева от которой находится правильный вариант ответа.
      </li>
      <li>Для <i>вопроса с несколькими правильными вариантами ответов</i> она состоит из текстовых полей,
        в которые необходимо ввести варианты ответов, и флажков <input type="checkbox"/>.
        Отметьте флажки <input type="checkbox" checked/>, слева от которых находятся правильные варианты ответов.
      </li>
      <li>Для <i>вопроса с без предлагаемых вариантов ответа</i> она состоит из текстовых полей,
        в которые необходимо ввести ПРАВИЛЬНЫЕ варианты ответа. Любой из этих вариантов ответа будет считаться правильным.
      </li>
      <li>Для <i>вопроса на упорядочивание</i> она состоит из текстовых полей,
        в которые необходимо ввести варианты ответа в правильном порядке.
      </li>
      <li>Для <i>вопроса на соотношение</i> она состоит из пар текстовых полей,
        в которые необходимо ввести варианты ответа,
        причем соотносящиеся варианты ответа должны находиться напротив друг друга.
        Если для какого-либо варианта ответа нет пары -
        поле напротив него должно быть оставленно пустым.
        Каждый из столбцов текстовых полей будет отдельной группой вариантов ответов на соотношение.
      </li>
    </ul>
  <div style="text-indent: 1em;">
    Можно добавить еще один вариант ответа, нажав на кнопку "Добавить вариант ответа". Максимальное количество вариантов ответа - 10.
  </div>
  <div style="text-indent: 1em;">
    <b class="attention">Пустое текстовое поле (два пустых текстовых поля для вопроса на соотношение) и все поля после (ниже) них (даже заполненные) НЕ будут учитываться как варианты ответов и будут проигнорированы.</b>
  </div>
  <div style="text-indent: 1em;">
    После заполнения форм необходимо нажать на кнопку "Подтвердить".
  </div>
  </div>
  <h2>Редактирование вопроса</h2>
  <div style="text-indent: 1em;">
    Если это необходимо, то к вопросу можно прикрепить изображение. Для этого в форме прикрепления изображения необходимо нажать кнопку "Обзор" и выбрать файл с изображением. После чего нажать кнопку загрузить.
    <b class="attention">К вопросу можно прикрепить только одно изображение. Прикрепление еще одного изображения удалит предыдущее.</b>
    <b class="attention">Изображения не масштабируются. Слишком большие изображения могут не поместиться на экране.</b>
  </div>
</div>
</div>
