<h1>Disciplines#new</h1>
<p>Find me in app/views/disciplines/new.html.erb</p>

<%form_for @discipline do |f|%>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>