<%= content_for :tabs do %>
<li><a href="#" id="helpbutton" class="menu1 ui-state-default ui-corner-top">Помощь</a></li>
<% end %>

<div id="help" title="Помощь">
  <h2>Конфигурации</h2>

  <div style="text-indent: 1em;">
    Конфигурации являются средством создания пользовательских наборов тестов.<p>
    Если вы хотите создать тест, содержащий вопросы из определенных тем и(или) содержащий конкретное количество вопросов - вы можете сделать это при помощи создания конфигурации теста. Здесь же можно назначить время на прохождение теста, а так же критерии оценки пройденых тестов.</p>
    <p>
      В пункте меню "Конфигурации" отображается список доступных конфигурации и их краткое описание. Здесь вы можете просмотреть общее количество вопросов в тесте, время на прохождение теста и критерии оценок.
      
    </p>
    <p>
      Данное меню позволяет управлять существующими конфигурациями, а так же создавать новые.
    <ul>
      <li>Просмотреть подробную информацию о конфигурации можно нажав на кнопку
        <span class="ui-state-default ui-corner-all" style="display: inline-block; padding: .2em;"><span class="ui-icon ui-icon-search"/></span>
      </li>
      <li>Отредактировать конфигурацию можно нажав на кнопку
        <span class="ui-state-default ui-corner-all" style="display: inline-block; padding: .2em;"><span class="ui-icon ui-icon-pencil"/></span>
      </li>
      <li>Удалить ненужную конфигурацию можно нажав на кнопку
        <span class="ui-state-default ui-corner-all" style="display: inline-block; padding: .2em;"><span class="ui-icon ui-icon-trash"/></span>
      </li>
       <li>Создать конфигурацию можно нажав на кнопку "Создать". Дальнейшие интсрукции см. в пункте <b>Создать</b></li>
    </ul>
    </p>
   
  </div>
  
</div>
