<%= content_for :tabs do %>
<li><a href="#" id="helpbutton" class="menu1 ui-state-default ui-corner-top">Помощь</a></li>
<% end %>

<div id="help" title="Помощь">
  <h2>Создание конфигураций</h2>

  <div style="text-indent: 1em;">
    <p>
      Для создания конфигурации необходимо заполнить форму на экране. Все поля формы <b>обязательны</b> для заполнения.
    </p>
    <p>
      Необходимо ввести следующие данные:
    <ul>
      <li><b>Имя</b> является обозначением конкретного теста. Имя должно быть уникальным, не должно быть других конфигураций с таким же именем.</li>
      <li><b>Темы</b> - необходимо выбрать темы, из которых будут выбираться вопросы. Несколько тем можно выбрать, зажав кнопку Ctrl.</li>
      <li><b>Тип конфигурации</b> определяет метод указания типов вопросов в тесте. <b>Обычный</b> - задается общее количество вопросов без указания типа. <b>Расширенный</b> - указание количества вопросов по каждому типу.</li>
      <li><b>Количество вопросов</b> - блок полей, в которых можно ввести количество вопросов каждого типа, входящих в тест. <b><i>В базе данных должно быть достаточно вопросов по каждому типу для успешного создания конфигурации</i></b>.</li>
      <li><b>% на 3(4, 5)</b> - значение в процентах, необходимое для получение оценки 3, 4, 5 - соответственно. Значения "4" дложно быть больше, чем для "3" и для "5" должно быть больше, чем для "4" соответственно. Для указания значений рекомендуется пользоваться ползунками. Старайтесь избегать ввода значений вручную.</li>
      <li><b>Время на тест</b> - время, отведенное на прохождение теста в формате "часы:минуты:секунды".</li>
     


    </ul>
    </p>
  </div>

</div>
