<% form_for([@discipline, @theme]) do |f| %>
    <% if @theme.errors.any? %>
<div class="ui-state-error ui-corner-all" style="padding: .5em;">
  <h3>Ошибка при создании или редактировании темы</h3>
  <ul>
    <% @theme.errors.each do |n,err| %>
      <li><%= err %></li>
    <%end%>
  </ul>
</div>
  <% end %>
<p>
<%= f.label "Название" %>
  <br />
<%= f.text_field :title %>
</p>
<p>
<%= f.submit @submit_label %>
</p>
<% end %>

