<% if logged_in? %>

        <div style="height: 125px; vertical-align: middle; font-size:14pt; ">
          <br/>
          <h3>Добро пожаловать!</h3> Вы вошли как <%= current_user.login %>.<br/>
          <%= link_to "Выйти", logout_path, { :title => "Выход",  }  %>
        </div>
<% end %>