<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

Тест завершен<br/>
Здесь будет отчет о тесте.


<%= @percent.to_i.to_s %>
<%= @questions.length %>

<br/>

<% 0.upto(@tests.length-1) do |i| %>
  <div>
    
     <% if @rights[i]=='+' %>
  <div class="ui-widget-header ui-corner-all">
    <% else %>
     <div class="ui-widget-header ui-corner-all ui-state-error">
    <%end %>
        
  <%= (i+1).to_s %>.

  <%= @questions[i].content %></div>
 
  </div>
<% end %>
