<h2>Выберите тест для прохождения тестирования</h2>



<% form_for(@ts) do |f| %>
  <%= f.collection_select :tconfiguration_id,Tconfiguration.all.sort{|a,b|a.Name<=>b.Name},:id,:Name,{} ,:size=>20,:style=>"width:300px;" %><br/>
  <%= f.submit "Начать тестирование" ,:class=>'actionbutton',:style=>"width:300px;" %>


<% end %>