/* 
    Document   : default
    Created on : 18.03.2011, 13:44:14
    Author     : }{@mele0n
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body
{
    background-image: url("/images/bg.png");
 
}
#page
{
    margin: 0px auto;
    max-width: 1200px;
    min-width: 800px;
    
    
}
#left-pad
{
    
    background-image: url("/images/back.png");
    background-repeat: repeat-y;
    background-color: transparent;
    padding: 0px 0px 0px 80px;
    
   
}
#top-pads
{
    padding-left: 80px;
}
#top-pads a
{
    font-family: 'Courier New', 'Arial';
    font-variant: small-caps;
    font-size: 9pt;
    color: blue;
}
#top-pads a:hover
{
    background-color: yellowgreen;
}
#top-pads td
{
    border: 0px;
    text-align: center;
    background-color: transparent;
    background-image: url('/images/tab.png');
    background-repeat: no-repeat;
    width: 120px;
    height: 25px;
    
}
.body
{
    
    padding: 40px 40px 60px 40px;
    background-color: #ede7e3;
    
  
}
.base
{
    margin: 0 auto;
    width: 700px;
    background-color: #d9d9d9;
    color: blueviolet;
    padding: 10px;
    text-align: center;
    -moz-border-radius:20px;
}
table
{
    border: 0px;
    border-color: blue;
    border-style: dotted;
    margin: 0px;
    padding: 0px;
}
th
{
    background-color: orange;
    margin: 0;
    padding: 2px;
}
td
{
    border-collapse: separate;
    padding: 5px;
    background-color: white;
    border-left: 1px solid #efefef;
    color: black;
    margin: 0;
    border-bottom: 2px solid #ccc;
}

tr
{
   
    width: 90%;
    margin: 0;
    padding: 0;
    

}


.vis{
    display: block;
}

.hid{
    display: none;
}

.pref{
    white-space: pre;
}

.del
{
    border: 0px;
    width: 16px;
    
}

.menu
{
    text-align: right;
    color: green;
    display: block;
    min-height:  60px;
   
}

.menu div {

display:inline;

}
.menu ul li
{
    display: inline-block;
    vertical-align:  middle;
}
.menu a:link
{
    color: green;
}
.menu a:visited
{
    color: greenyellow;
}