/* 
    Document   : menu
    Created on : 17.05.2011, 22:34:35
    Author     : xamele0n
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#top-pads
{
    /*padding-left: 80px;*/
    /*display: block;*/
    
}
#top-pads a
{
    /*font-family:  'Arial';
    font-variant: small-caps;
    font-size: 13pt;
    color: darkred;*/
    /*background-color:lime ;*/
    /*border-top: 1px solid green;
    border-left: 1px solid green;
    border-right: 1px solid green;*/
   /* -moz-border-radius: 15px 15px 0px 0px;
    -webkit-border-radius:15px 15px 0px 0px;
    border-radius:15px 15px 0px 0px;
    block-shadow: 0px 0px 1px;*/

}
#top-pads a:hover
{
    /*background-color: lawngreen;
    color: indigo;*/
}
/*#top-pads td
{
    border: 0px;
    text-align: center;
    background-color: transparent;
    background-image: url('/images/tab.png');
    background-repeat: no-repeat;
    width: 120px;
    height: 25px;

}*/
#menu{padding: 0px;}
#menu ul{}
#menu1 ul li { display: inline-block; vertical-align: bottom; float: none; top:1px;}
#menu1 ul li a{ }

