<%= content_for :tabs do %>
<li><a href="#" id="helpbutton" class="menu1 ui-state-default ui-corner-top">Помощь</a></li>
<% end %>

<div id="help" title="Помощь">
  <h2>Консоль управления</h2>

  <div style="text-indent: 1em;">
    Консоль управления служит для управления материалами базы данных<p>
    Здесь вы можете добавлять, изменять и удалять записи в соответствующих таблицах.</p>
    <p>
      На экране представлено 4 списка, отображающие содержимое соответствующих таблиц. Под каждой из них содержится переключатель режима работы с таблицей.<br/>
      С таблицей можно работать в 2х режимах:
    <ul>
      <li>В режиме <b>Добавления/Обновления</b> - если в списке была выбрана какая либо запись, она будет заменена значением указаным в поле ввода. В случае если записи не были выбраны - эта запись будет добавлена в таблицу.</li>
      <li>В режиме <b>Удаления</b> - выбраная в списке запись будет удалена из таблицы по нажатию кнопки <b>Выполнить</b>, при этом содержимое поля редактирования игнорируется.</li>

    </ul>
    </p>
   

  </div>

</div>
