<%= content_for :tabs do %>
<li><a href="#" id="helpbutton" class="menu1 ui-state-default ui-corner-top">Помощь</a></li>
<% end %>

<div id="help" title="Помощь">
  <h2>Поиск сеансов тестирования</h2>
  <div style="text-indent: 1em;">
    Для <b>поиска</b> сеансов тестирования необходимо:
    <ol>
      <li>Заполнить необходимые поля формы поиска или расширенного поиска</li>
      <li>Поля, значения которых не важны, оставить пустыми (Для
        вывода всех сеансов тестирования необходимо оставить все поля пустыми)</li>
      <li>Нажать кнопку "Поиск"</li>
    </ol>
    </div>
  <div style="text-indent: 1em;">
    После этого отобразится таблица, содержащая результаты поиска. 
   </div>
    <h2>Подробный отчет</h2>
    <div style="text-indent: 1em;">
      Для просмотра <b>подробного отчета</b> необходимо в правой части таблицы в
      нужной строке нажать на кнопку
      <span class="ui-state-default ui-corner-all" style="display: inline-block; padding: .2em;"><span class="ui-icon ui-icon-document"/></span>
    </div>
</div>
