
<h1>Serlevels#new</h1>
<p>Find me in app/views/serlevels/new.html.erb</p>
<%= form_for (@st) do |f| %>
<p>
   <%= f.label 'Имя' %><br/>
  <%= f.text_field(:name) %>
  <%= f.submit "Ok"%>
</p>
<%end%>