<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @configuration_type.Name %>
</p>


<%= link_to 'Edit', edit_configuration_type_path(@configuration_type) %> |
<%= link_to 'Back', configuration_types_path %>
