<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @qtype.title %>
</p>


<%= link_to 'Edit', edit_qtype_path(@qtype),:class=>'actionbutton' %> |
<%= link_to 'Back', qtypes_path,:class=>'actionbutton' %>
